# Visual Analytics Session 1 - Intro to Python Cont.

In [2]:
text_snippet = "It was the best of times, it was the worst of times"

In [3]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

In [4]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [7]:
#return a list datatype
text_snippet.split(",")

['It was the best of times', ' it was the worst of times']

In [8]:
type(text_snippet.split(','))

list

## Sequence types - list

In [2]:
# def a var as list type w/ 3 items
colors = ["red", "green", "blue"]

In [6]:
colors

['red', 'green', 'blue']

In [9]:
type(colors[1])

str

In [12]:
user_data = ["mary", 42, 1.65]

In [13]:
big_list = [user_data, colors]

In [14]:
big_list

[['mary', 42, 1.65], ['red', 'green', 'blue']]

In [15]:
big_list[0][1]

42

In [16]:
user_data + colors

['mary', 42, 1.65, 'red', 'green', 'blue']

In [5]:
colors.append("yellow")

In [6]:
colors

['red', 'green', 'blue', 'blue', 'yellow']

In [8]:
colors.remove("yellow")

In [12]:
colors

['red', 'green', 'blue']

## Tuples

In [17]:
colors_tuple = ("red", "green", "blue")

# tuples cannot be used w/ object functions like lists can

In [16]:
colors_tuple

('red', 'green', 'blue')

## Dictionaries

In [18]:
# A dictionaru defines key value pairs

user_ages = {
    "mary": 42, 
    "john": 34
    }

In [20]:
# instead of index, dictionaries can use string values

user_ages["mary"]

42

In [21]:
# another way of creating dictionaries

new_users = dict(
    mary = [42, 1.65],
    john = [32, 1.80],
    alice = [16, 1.83]
    )

In [22]:
new_users

{'mary': [42, 1.65], 'john': [32, 1.8], 'alice': [16, 1.83]}

In [23]:
new_users["mary"][1]

1.65

## In-class task
### Nested dictionaries

In [35]:
new_users_dict = dict(
    mary = {
        "age":42, 
        "height":1.68
        },
    john = {
        "age":32, 
        "height":1.80
        },
    alice = {
        "age":16, 
        "height":1.63
        }
    )

In [36]:
new_users_dict["mary"]["age"]

42

## Number types
### int & float

In [40]:
# int = 2, 305, -4
# float = 2.5, 0.340, 89.2

type(2)

int

In [38]:
type(2.2)

float

In [44]:
# coerging the int into float
float(2)

2.0

In [45]:
# isolating the int value - does not round!
int(2.3)

2

In [48]:
# regular division will always return a float

10/2

5.0

In [47]:
# floor division returns just int

10//2

5

### Boolean types

In [50]:
True == 1

True

In [51]:
False == 0

True